<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
  <title>Users</title>
</head>
<body>
<nav class="navbar py-0 navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <span class="navbar-text text-light">
            <th:block th:if="${#request.userPrincipal}">
              <strong th:text="${user.getUsername()}">user</strong> <span>, with roles:</span>
              <th:block th:each="role : ${user.getRoles()}">
                <th:block th:text="${role.toString()}">role</th:block>
              </th:block>
            </th:block>
          </span>
        </li>
      </ul>
      <span class="navbar-text">
        <th:block th:if="${#request.userPrincipal}">
          <a class="nav-link text-secondary" th:href="@{/logout}">Logout</a>
        </th:block>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid" style="height: 1000px">
  <div class="row" style="height: inherit">
    <nav class="col-2 nav flex-column nav-pills text-center">
      <a class="nav-link active text-white" th:if="${#request.isUserInRole('ROLE_ADMIN')}" th:href="@{/admin}">Admin</a>
      <a class="nav-link" th:href="@{/user/{id} (id=${user.getId()})}">User</a>
    </nav>
    <div class="col-10 bg-light">
      <h1 class="text-left">Admin panel</h1>
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#table_users">Users table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#new_user">New User</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active border" id="usersTable">
            <div class="card">
              <div class="card-header text-left"><h3>All users</h3></div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody class="usersList">
                  </tbody>
                </table>

                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="editModalLabel">Edit user: </h4>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">x</span>
                        </button>
                      </div>
                      <div class="modal-body form-group">
                        <form class="text-center fw-bold" id="editForm">
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <label for="edit_id_input">ID: </label>
                              <input type="text" readonly id="edit_id_input" name="id" class="form-control"/>

                              <label for="edit_name_input">Name: </label>
                              <input type="text" id="edit_name_input" name="name" class="form-control"/>

                              <label for="edit_surname_input"> Surname: </label>
                              <input type="text" id="edit_surname_input" name="surname" class="form-control"/>

                              <label for="edit_age_input"> Age: </label>
                              <input type="number" id="edit_age_input" name="age" class="form-control"/>

                              <label for="edit_email_input"> Email: </label>
                              <input type="text" id="edit_email_input" name="email" class="form-control"/>

                              <label for="edit_password_input"> Password: </label>
                              <input type="password" id="edit_password_input" name="password" class="form-control"/>

                              <label for="edit_roles_select">roles: </label>
                              <select multiple size="2" class="form-control" id="edit_roles_select">
                              </select>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary editUserButton">
                                  Edit
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete
                          user</h4>
                        <button type="button" class="close text-right" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
                        </button>
                      </div>
                      <div class="modal-body form-group">
                        <form class="text-center fw-bold">
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <label for="delete_id_input">ID: </label>
                              <input type="text" id="delete_id_input" class="form-control" name="id" disabled>

                              <label for="delete_name_input">Name: </label>
                              <input type="text" id="delete_name_input" class="form-control" disabled/>

                              <label for="delete_surname_input">Surname: </label>
                              <input type="text" id="delete_surname_input" class="form-control" disabled/>

                              <label for="delete_age_input">Surname: </label>
                              <input type="text" id="delete_age_input" class="form-control" disabled/>

                              <label for="delete_email_input">Email: </label>
                              <input type="text" id="delete_email_input" class="form-control" disabled>

                              <label for="delete_roles_select">Roles: </label>
                              <select multiple size="2" class="form-control" id="delete_roles_select" disabled>
                              </select> <br>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-danger btn-primary deleteUserButton">
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane container-fluid fade" id="new_user">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-5">
                <form class="text-center font-weight-bold addUserForm" role="form">
                  <div class="form-group">
                    <label for="name_input" class="control-label">First Name</label>
                    <input type="text" id="name_input" class="form-control" placeholder="First name...">
                  </div>
                  <div class="form-group">
                    <label for="surname_input" class="control-label">Last Name</label>
                    <input type="text" id="surname_input" class="form-control" placeholder="Last name...">
                  </div>
                  <div class="form-group">
                    <label for="age_input">Age</label>
                    <input type="number" id="age_input" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="email_input">Email</label>
                    <input type="text" id="email_input" class="form-control" placeholder="Email...">
                  </div>
                  <div class="form-group">
                    <label for="password_input">Password</label>
                    <input type="password" id="password_input" class="form-control" placeholder="Password...">
                  </div>
                  <div class="form-group">
                    <label for="roles">Roles</label>
                    <select multiple size="2" class="form-control" id="roles">
                    </select>
                  </div>
                  <br>
                  <div class="justify-content-center d-flex">
                    <input type="submit" class="btn btn-success" value="Add new user" id="addUser"/><br><br>
                  </div>
                </form>
              </div>
              <div class="col-4"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{app.js}"></script>
</body>
</html>