<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style></style>
</head>
<body>
<h2>List of users</h2>
<table th:border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{/{id}/edit (id=${user.getId()})}">Edit</a>
            <a th:href="@{/{id}/delete(id=${user.getId()})}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/new}">Add new User</a>
</form>
</body>
</html>